.content {
    color: var(--white);
    text-align: center;

    .video {
        text-align: center;

        video {
            width: 1000px;
          }
    }

    h1{
        width: 500px;
        margin: 0 auto;
        padding: 0.5rem;
        border-radius: 18px;
        background-color: var(--gray-900);
        margin-bottom: 3rem;

        font-size: 2rem;
    }

    h2 {
        margin-bottom: 2rem;
        color: var(--gray-900);
        font-size: 2.5rem;
    }

    p{
        font-size: 1.7rem;
        margin-bottom: 1.5rem;
    }
}
