.global {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    gap: 1.5rem;

    .content {
        font-size: 1.5rem;

        h1 {
            font-family: gothamUltra;
            color: var(--gray-900);
            font-size: 2rem;
        }

        .text {
            margin: 2rem 0rem;
        }
    }

    h2 {
        font-family: gothamBold;
        color: var(--gray-900);
        font-size: 2rem;
    }
}


.globalText {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    color: var(--white);

    .cardText {
        padding: 1rem;
        width: 250px;
        background: rgb(0, 0, 0);
        background: linear-gradient(360deg, rgb(0, 0, 0) 15%, rgba(255, 69, 0, 1) 100%, rgb(255, 69, 0) 100%, rgba(9, 9, 9, 9) 100%);
        ;
        text-align: center;
        border-radius: 18px;

        h3 {
            font-family: gothamBold;
            font-size: 1.5rem;
            font-weight: bolder;
            margin-bottom: 1rem;
        }

        p {
            font-family: gothamBook;
            font-size: 1.1rem;
        }
    }
}

@media(max-width: 1200px){
    .global {
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        .content {
            font-size: 1.5rem;
    
            h1 {
                color: var(--gray-900);
                font-size: 2rem;
            }
    
            .text {
                margin: 2rem 0rem;
            }
        }
    
        h2 {
            color: var(--gray-900);
            font-size: 2rem;
        }
    }
    
    
    .globalText {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media(max-width: 800px){
    .global {
        img {
            width: 500px;
        }
    }

}


@media(max-width: 700px){
    .global {
        img {
            width: 450px;
        }
    }

}


@media(max-width: 600px){

    .global {
        img {
            width: 400px;
        }
        .content {
            h1 {
                font-size: 1.5rem;
            }
    
            .text {
                margin: 2rem 0rem;
            }
        }
        h2 {
            font-size: 1.5rem;
        }
    }
}