

.container {

    .banner{
        width: 100%;
        height: calc(100vh + 100px);
        object-fit: cover;
    }

    .content{
        color: var(--white);
        position: absolute;
        top: 0;
        right: 0;
        padding: 5rem;
        margin-top: 5rem;
        margin-right: 1rem;

        text-align: center;

        .title {
            font-family: 'Roboto', sans-serif;
            h1{
                font-size: 2.5rem;
                font-weight: lighter;
            }
            
            p{
                font-weight: bolder;
                font-size: 1.2rem;
            }

        }

       
        .paragraph {
            font-family: 'Roboto', sans-serif;
            margin: 3rem 0rem;
            line-height: 2rem;

            p{
                font-weight: bold;
                font-size: 1.5rem;

            }
        }

        .button {
            font-family: 'Roboto', sans-serif;

            h2{
                margin: 0 auto;
                background-color: var(--gray-900);
                width: 500px;
                padding: 1rem;
                border-radius: 18px;
                font-weight: bolder;
            }
        }
    }

    .logo {
        position: absolute;
        top: 0;
        margin: 2rem;
        width: 200px;
    }
}

@media(max-width: 1200px){

    .container {
        .content{
            padding: 3rem;
            margin-top: 5rem;
            .title {
                h1{
                    font-size: 2rem;
                }
                
                p{
                    font-size: 1rem;
                }
    
            }
    
           
            .paragraph {
                margin: 3rem 0rem;
                line-height: 2rem;
    
                p{
                    font-size: 1.2rem;
    
                }
            }
    
            .button {
    
                h2{
                    width: 400px;
                    padding: 0.5rem;
                }
            }
        }
    }

}


@media(max-width: 800px){

    .container {
        .content{
            padding: 1rem;
            margin-top: 15rem;
            .title {
                h1{
                    font-size: 1.8rem;
                }
                
                p{
                    font-size: 0.8rem;
                }
    
            }
    
           
            .paragraph {
                margin: 3rem 0rem;
                line-height: 2rem;
    
                p{
                    font-size: 1rem;
    
                }
            }
    
            .button {
    
                h2{
                    width: 350px;
                    padding: 0.5rem;
                    font-size: 1.5rem;
                }
            }
        }
    }

}

@media(max-width: 700px){

    .container {
        .banner{
           filter: brightness(30%);
        }
        .content{
            margin-top: 20rem;
            .title {
                h1{
                    font-size: 1.5rem;
                }
                
                p{
                    font-size: 0.8rem;
                }
    
            }
            .paragraph {
    
                p{
                    font-size: 1rem;
    
                }
            }
    
            .button {
    
                h2{
                    width: 300px;
                    font-size: 1.2rem;
                }
            }
        }
    }

}