.carousel {
    margin: 0 auto;
    width: 800px;

    img {
        width: 750px;
        height: 750px;
        object-fit: cover;
        padding: 0.3rem;
    }
}

.global {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);

    img {
        width: 600px;
    }

    .content {
        width: 400px;

        h1 {
            font-size: 3rem;
            line-height: 2.5rem;
            font-weight: 100;

            span {
                color: var(--gray-900);
            }
        }

        .text {
            margin: 3rem 0rem;

            p {
                font-size: 1.4rem;

                span {
                    color: var(--gray-900);
                }
            }
        }

        .link {
            text-align: center;
            background-color: var(--gray-900);
            width: 350px;
            font-size: 1.5rem;
            border-radius: 18px;
            padding: 0.8rem;
        }

        a {
            font-weight: bold;
        }

    }
}

@media(max-width: 1200px){
    .carousel {
        margin: 0 auto;
        width: 700px;
    
        img {
            width: 650px;
            height: 600px;
        }
    }
    
    .global {
        width: 700px;
        margin: auto;
        img {
            width: 400px;
        }
    
        .content {
            width: 300px;
    
            h1 {
                font-size: 2rem;
                line-height: 2rem;
            }
    
            .text {
                p {
                    font-size: 1rem;
                }
            }
    
            .link {
                width: 250px;
                font-size: 1rem;
            }
        }
    }

}


@media(max-width: 800px){
    .carousel {
        width: 470px;
    
        img {
            width: 450px;
            height: 450px;
        }
    }
    
    .global {
        width: 470px;
        img {
            width: 300px;
        }
    
        .content {
            margin-top: 2rem;
            width: 250px;
    
            h1 {
                font-size: 1.8rem;
                line-height: 2rem;
            }
    
            .text {
                margin: 2rem 0rem;
                p {
                    font-size: 1rem;
                }
            }
    
            .link {
                width: 210px;
                font-size: 0.8rem;
            }
        }
    }

}


@media(max-width: 700px){
    .carousel {
        width: 420px;
    
        img {
            width: 400px;
            height: 400px;
        }
    }
    
    .global {
        width: 420px;
        img {
            width: 250px;
        }
    
        .content {
            width: 250px;
    
            h1 {
                font-size: 1.5rem;
                line-height: 2rem;
            }
    
            .text {
                margin: 2rem 0rem;
                p {
                    font-size: 0.8rem;
                }
            }
    
            .link {
                width: 170px;
                font-size: 0.8rem;
            }
        }
    }

}


@media(max-width: 600px){
    .carousel {
        width: 400px;
    
        img {
            width: 380px;
            height: 380px;
        }
    }
    
    .global {
        width: 400px;
        img {
            width: 200px;
        }
    
        .content {
            width: 200px;
            
    
            h1 {
                
                font-size: 1.2rem;
                line-height: 1.5rem;
            }
    
            .text {
                p {
                    font-size: 0.8rem;
                }
            }
    
            .link {
                width: 150px;
                font-size: 0.7rem;
            }
        }
    }

}


@media(max-width: 500px){
    .carousel {
        width: 380px;
    
        img {
            width: 350px;
            height: 350px;
        }
    }
    
    .global {
        width: 380px;
        img {
            width: 200px;
        }
    
        .content {
            width: 200px;
            
    
            h1 {
                
                font-size: 1.2rem;
                line-height: 1.5rem;
            }
    
            .text {
                p {
                    font-size: 0.8rem;
                }
            }
    
            .link {
                width: 150px;
                font-size: 0.7rem;
            }
        }
    }

}