.carousel {
    margin: 0 auto;
    width: 800px;

    img {
        width: 400px;
        height: 400px;
        object-fit: cover;
        padding: 0.3rem;
    }
}

.global {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);

    img {
        width: 600px;
    }

    .content {
        width: 400px;

        h1 {
            font-size: 3rem;
            line-height: 2.5rem;
            font-weight: 100;

            span {
                color: var(--gray-900);
            }
        }

        .text {
            margin: 3rem 0rem;

            p {
                font-size: 1.4rem;

                span {
                    color: var(--gray-900);
                }
            }
        }

        .link {
            text-align: center;
            background-color: var(--gray-900);
            width: 350px;
            font-size: 1.5rem;
            border-radius: 18px;
            padding: 0.8rem;
        }

        a {
            font-weight: bold;
        }

    }
}