.global {
    color: var(--white);
    margin: 8rem 0rem 5rem;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin: 5rem 0rem;

        img {
            width: 200px;
        }

        .content {
            h1 {
                font-family: gothamUltra;
                margin-bottom: 1rem;
            }
            p{
                font-family: gothamBold;
                font-weight: 100;
                font-size: 1.4rem;
            }
        }
    }

    h1 {
        font-family: gothamUltra;
        text-align: center;
        color: var(--gray-900);
    }

    .text {
        margin: auto;
        width: 700px;

        h2 {
            font-family: gothamBold;
            font-size: 1.5rem;
            margin: 2rem 0rem;
            span{
                font-family: gothamUltra;
                font-size: 2rem;
                margin-left: 5rem;
                color: var(--gray-900);
            }
        }
    }
}

@media(max-width: 900px){

    .global {
        .container {
            img {
                width: 150px;
            }
    
            .content {
                p{
                    font-weight: 100;
                    font-size: 1.3rem;
                }
            }
        }
       
        .text {
            width: 600px;
    
            h2 {
                font-size: 1rem;
                span{
                    font-size: 2rem;
                }
            }
        }
    }

}

@media(max-width: 800px){

    .global {
        .container {
            h1 {
                font-size: 1.5rem;
            }
            img {
                width: 120px;
            }
    
            .content {
                p{
                    font-size: 1rem;
                }
            }
        }
       
        .text {
            width: 500px;

            h1 {
                font-size: 1.5rem;
            }
    
            h2 {
                font-size: 1rem;
                span{
                    font-size: 2rem;
                }
            }
        }
    }

}


@media(max-width: 700px){

    .global {
        
        .container {
            gap: 2rem;
            h1 {
                font-size: 1.3rem;
            }
            img {
                width: 100px;
            }
    
            .content {
                p{
                    font-size: 1rem;
                }
            }
        }
       
        .text {
            width: 400px;

            h1 {
                font-size: 1.2rem;
            }
    
            h2 {
                font-size: 1rem;
                span{
                    font-size: 1.5rem;
                    margin-left: 2rem;
                }
            }
        }
    }

}


@media(max-width: 600px){

    .global {
        
        .container {
            gap: 1rem;
            h1 {
                font-size: 1rem;
            }
            img {
                width: 60px;
            }
    
            .content {
                p{
                    font-size: 0.8rem;
                }
            }
        }
       
        .text {
            width: 380px;

            h1 {
                font-size: 1rem;
            }
    
            h2 {
                font-size: 0.9rem;
                span{
                    font-size: 1.3rem;
                    margin-left: 1rem;
                }
            }
        }
    }

}