.global {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 3rem 0rem;
    font-family: 'Roboto', sans-serif;
    

    color: var(--white);

    img {
        width: 550px;
    }

    .text {
        font-family: 'Roboto', sans-serif;
        h1{
            font-weight: lighter;
            font-size: 2rem;
            color: var(--gray-900);
            margin: 2rem 0rem;
        }

        p{
            font-weight: bolder;
            font-weight: 100;
            font-size: 1.8rem;
        }

        h3 {
            
            text-align: center;
            width: 350px;
            padding: 0.5rem;
            background-color: var(--gray-900);
            font-weight: bold;
            font-size: 1.6rem;
            border-radius: 18px;
            margin-top: 2rem;
        }
    }
}

.title {
    color: var(--white);
    text-align: center;
    margin-bottom: 3rem;
    font-family: 'Roboto', sans-serif;
    h1 {
        font-weight: lighter;
        color: var(--gray-900); 
    }
    
    h2{
        font-weight: bolder;
        font-size: 2.5rem;
    }
    
    p{
        font-weight: 200;
        font-size: 2rem;
    }
}

@media(max-width: 1200px){
    .global {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
}


@media(max-width: 800px){
    .global {
       
    img {
        width: 500px;
    }
    }
}

@media(max-width: 700px){
    .global {  
        img {
            width: 450px;
        }
    
        .text {
            h1{
                font-size: 1.8rem;
            }
    
            p{
                font-size: 1.5rem;
            }
    
            h3 {
                width: 350px;
                font-size: 1.3rem;
            }
        }
    }
    
    .title {    
        h2{
            font-size: 2rem;
        }
        
        p{
            font-size: 1.5rem;
        }
    }
}


@media(max-width: 600px){
    .global {  
        img {
            width: 370px;
        }
    
        .text {
            h1{
                font-size: 1.3rem;
            }
    
            p{
                font-size: 1.2rem;
            }
    
            h3 {
                width: 300px;
                font-size: 1rem;
            }
        }
    }
    
    .title {  
        h1{
            font-size: 1.5rem;
        }  

        h2{
            font-size: 1.3rem;
        }
        
        p{
            font-size: 1.2rem;
        }
    }
}